@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

ul {
    list-style: none;
}


a:-webkit-any-link {
    text-decoration: none;
   
  }




/* top header css */

.agileits_header {
    background-color:rgb(51, 51, 51);
    margin-top: 0;
    font-family:  'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}

.agileits_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}

.agileits_header .container .w3l_offers {
    font-size: 16px;
}
.agileits_header .container .w3l_offers p{
    color:white;
    
}
.linkone{
    color:var(--orange);
    text-decoration: none;
    font-weight: bold;
}


.agile_login ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.agile_login ul li{
    padding: 2px 15px;
    font-weight: bold;

}
.linkedtwo{
   color: #fff;

}
.product_list_header {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

/* top header css  ends here*/

/* header css */

.logo_products .container {
    display: flex;
  justify-content:space-between;
  align-items: center;
    padding: 25px 0px;
}

.w3ls_logo_products_left1 i{
    padding: 5px;
    
}
.linked3{
    color:#fe9126 ;
}

.w3l_search form input
{
font-size: 22px;
padding: 2px;

}
.w3l_search form button{
    margin-left: 2px;
    font-size: 26px;
    border-radius: 3px;
    width: 35px;
    background-color: #fe9126 ;
    border: none;
    color: #fff;
}
/* header css end here*/

/* navbar css */

.navigation-agileits{
    background-color:#fe9126 ;
    color:white;
    font-size: 18px;
}

.dropdown{
    color: var(--white) !important;
    margin-right: 22px ;
    
}
#basic-nav-dropdown{
    color:var(--white);
}
.dropdown:hover{
  
   
    cursor:pointer;
    
}


.navlink {
font-size: 16px;

margin-right: 20px;
}
.linkfour{
    color: var(--white) !important;
}
.dropdown h6{
font-size: 20px;
text-align: center;
padding: 5px;
color: var(--orange) !important;
    
}
/* navbar css ends here */

/* Footer css */
.footer{
    background-color:  #2b2a2a;
    padding: 30px;
    color:#fff;
}

.footer .container .w3_footer_grids .w3_footer_grid .footer-title{
  
    margin-top: 10px;
    margin-bottom: 40px;
}
.footer .container .w3_footer_grids .w3_footer_grid .address{
 background-color:  rgb(51, 51, 51);
}


/* Footer css ends here  */
/* 
bottom footer */
.bottom-container{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
}

.bottom-container .w3layouts-foot ul{
    display: flex;
  
}
.bottom-container .w3layouts-foot ul li{
    margin: 0px 3px;
    padding: 4px;
    border: 1px solid #fff;  
    border-radius: 50%;
    
  
}
.bottom-container .w3layouts-foot ul li a{
    align-self: center;
    color: #fff;
    font-size: 20px;
   
}
.payment-scroll{
    display: flex;
    justify-content: space-between;
   
}
.arrow-up{
   
    margin:0px 20px;
    font-size: 25px;
    color:#fff;

}
.bottom-container .w3layouts-foot ul li:hover{
    background-color: cadetblue;
}
/* bottom footer css ends  */
